.big-cta {
  position: relative;
}

.big-cta__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.big-cta__content {
  width: 100%;
  max-width: 80rem;
  text-align: center;
}

.big-cta__content.left {
  text-align: left;
}

.big-cta__content.right {
  text-align: right;
}

.big-cta__heading {
  margin: 0;
}

.big-cta__text {
  margin-top: 1.6rem;
}

.big-cta__button {
  margin-top: 2.4rem;
}

@media screen and (min-width: 750px) {
  .big-cta__text {
    margin-top: 2rem;
  }

  .big-cta__button {
    margin-top: 3rem;
  }
}
